.container{
  margin-top: 200px;
  margin-left: 150px;
}

.f-group{
  float: left;
}

.f-group label{
  display: block;
  margin-bottom: 8px;
  font-family: 'roboto';
  font-weight: 500;
}

select{
  border: 1px solid #555;
  height: 40px;
  width: 200px;
  padding: 0 15px;
  margin-right: 20px;
}